<h1>{{title}}</h1>

<ol>
	<li><a href="switch_user.php">{{ switch_user }}</a></li>
	<li>Export Medewerkers (Name / Email / Department) <a href="export01.php?export_type=csv">CSV (tab)</a> <a href="export01.php?export_type=csv_comma">CSV (comma)</a> <a target="_blank" href="export01.php?export_type=json">JSON</a> <a target="_blank" href="export01.php?export_type=xml">XML</a><br />
	(alleen medewerkers die nog in dienst zijn)</li>
</ol>
